CompileFlags:
  Add:
    - "-D__arm__"
    - "-D__GNUC__"
    - "-Wno-unknown-warning-option"
    - "-Wno-unused-command-line-argument"

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - "clang-diagnostic-error"
    - "pp_file_not_found"
