CompileFlags:
  Add:
    - "-mcpu=cortex-m4"
    - "-mfpu=fpv4-sp-d16"
    - "-mfloat-abi=hard"
    - "-mthumb"
    - "-DSTM32F40_41xxx"
    - "-DUSE_STDPERIPH_DRIVER"
    - "-DARM_MATH_CM4"
    - "-D__FPU_PRESENT=1"
    - "-D__FPU_USED=1"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-D__arm__"
    - "-D__GNUC__"
    - "-Wno-unknown-warning-option"
    - "-Wno-unused-command-line-argument"
    - "-Wno-error=undefined-inline"
    - "-Wno-error=undefined-internal"

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - "clang-diagnostic-error"
    - "pp_file_not_found"
    - "undefined-inline"
    - "undefined-internal"
    - "expected_func_body"
