.cache
.vscode/c_cpp_properties.json
.vscode/keil-*.*
.vscode/uv4.*
Build

Project/MDK/.vscode
Project/MDK/Objects

Project/MDK/*.uvguix.*
Project/MDK/*.uvoptx
Project/MDK/Listings
*.scvd
Listings
*.uvoptx
*.uvguix.*

compile_commands.json
