Project/MDK/.vscode
Project/MDK/Objects

Project/MDK/*.uvguix.*
Project/MDK/*.uvoptx
Project/MDK/Listings
Project/MDK/*.scvd
Build
Listings
*.uvoptx
*.uvguix.*

# Source/Kernel
# Source/Application
# Source/HAL
# Source/Interface